.icon {
font-family: 'Material Icons', serif;
font-style: normal;
display: inline-block;
vertical-align: middle;
line-height: 1;
letter-spacing: normal;
word-wrap: normal;
direction: ltr;
}


.body {
font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 1.5;
color: black;
background: white;
position: relative;
}

header {
display: block;
width: 100%;
height: 15%;
padding: 0.5em 0;
border-bottom: 1px solid #333;
background: #777;
}

.header #logo {
font-size: 16px;
text-align: center;
color: black;
line-height: 1;
}

.header #logo .icon {
padding-right: .25em;
}

.main {
display: block;
margin: 0 auto;
/* margin-top: 5em; */
}

.row {
margin: 0;
padding: 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
}

.row .days{
    padding: 0 0 1rem 0;
}

.row-middle {
align-items: center;
}

.leftChevIcon {
flex-grow: 1;
flex-basis: 0;
max-width: 100%;
}
.middleHeader {
flex-grow: 2;
flex-basis: 0;
max-width: 100%;
}
.rightChevIcon {
flex-grow: 1;
flex-basis: 0;
max-width: 100%;
}
.col {
flex-grow: 1;
flex-basis: 0;
max-width: 100%;
}


.colstart {
justify-content: flex-start;
text-align: left;
}

.colcenter {
justify-content: center;
text-align: center;
font-size: 13px;
font-weight: 300;
margin-bottom: 9px;
}

.colend {
justify-content: flex-end;
text-align: right;
}

.calendar {
display: block;
position: relative;
width: 259px;
height: 304px;
background: #f1f2f4;
border: 1px solid #d8d9db;
padding: 0 18px 0;
}

.calendar .header {
font-weight: 700;
margin-top: 15px;
width: 100%;
font-size: 16px;
padding: 0.5rem 0 0.5rem 0;
}

.headerSpan{
display: inline-block;
font-size: 16px;
font-weight: 550;
}

.calendar .header .icon:first-of-type {
margin-left: 1em;
}

.calendar .header .icon:last-of-type {
margin-right: 1em;
}

.calendar .cell .days {
font-weight: 400;
color: #333;
font-size: 14px;
padding: .05rem;
border: 1px solid #d8d9db;
}
.calender .body{
overflow: hidden;
cursor: pointer;
margin: 0 2rem 0;
}
.calendar .cell {
position: relative;
border: 1px solid #d8d9db;
border-width: thin;
height: 2rem;
width: 2rem;
display: flex;
background-color: white;
}
.calendar .body .selected {
border: solid;
border-width: thin;
border-color: red;
}


.calendar .body .cell .number {
font-size: 16px;
line-height: 1;
margin: auto;
font-weight: 540;
}

.calendar .body .disabled {
color: #f1f2f4;
pointer-events: none;
}

.calendar .body .cell .bg {
font-weight: 700;
line-height: 1;
color: black;
opacity: 0;
position: absolute;
letter-spacing: -.07em;
}

.cell:hover{
    cursor: pointer;
    border: solid;
    border-width: thin;
    border-color: red;
}

.flexmiddle{
display: flex;
margin: auto;
}