.locationContainer{
    font-size: 16px;
    width: 636px;
    height: 500px;
    border:solid;
    border-width: 0.5px;
    border-color:  #333;
    border-width: thin;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 80px;
    background-color: white;
    z-index: 3;
}
.topLocationNav{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border:solid;
    border-width: thin;
    border-color:  #333;
}
.locationNavText{
    width: 50%;
    justify-content: flex-start;
    padding-left: 30px;
    margin: auto;
    /* text-align: center; */
    font-weight: 200;

}
.midLocationNav{
    max-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 0.3px solid;
    border-color:  #333;
    border-width: thin;
}
.leftMidLocationNav{
    width: 50%;
    border-color:  #333;
    border-width: thin;
    border-right: solid;
    overflow: auto;
}
.rightMidLocationNav{
    width: 50%;
    overflow: auto;
}
.bottomLocationNav{
    width: 100%;
    height: 15%;
    border:solid;
    display: flex;
    border-color:  #333;
    border-width: thin;
}
.bottomLocationNavText{
    justify-content: flex-start;
    text-align: left;
    margin-top: 15px; 
    padding-left: 30px;
} 
.metroNameRender{
    justify-content: flex-start;
    flex: 1;
    margin: auto;
}
.arrowDownLogo{
    justify-content: flex-end;
    flex: 1;
    margin: auto;
}
.regionCityList{
    overflow: scroll;
    padding: 0;
    border:solid;
    border-color:  #333;
    border-width: thin;
}
.singleRegionCityDiv{
    width: 315px;
    height: 40px;
    background: white;
    display: flex;
}
.metroNameRender{
    justify-content: flex-start;
    text-align: left;
    flex: 1;
    margin-left: 15px;
}
.arrowDownLogo{
    justify-content: flex-end;
    text-align: right;
    flex: 1;
    margin-right: 15px;
}
.cityNameRender{
    justify-content: flex-start;
    text-align: left;
    flex: 1;
    margin-left: 15px;
}
.cityNameQuantity{
    justify-content: flex-end;
    text-align: right;
    flex: 1;
    margin-right: 15px;
}
.singleRegionCityDiv:hover{
    color: #237b98;
    background: #eef4fb;
    border-color: #237b98;
    border-left: 3px solid #237b98;
}
