.locationContainer{
    font-size: 16px;
    width: 636px;
    height: 500px;
    border:solid;
    border-color:  #333;
    border-width: thin;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 50px;
    background-color: white;
    z-index: 3;
}
.topLocationNav{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border:solid;
    border-color:  #333;
    border-width: thin;
}
.locationNavText{
    width: 50%;
    margin: auto;
    text-align: center;
}
.midLocationNav{
    max-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border:solid;
    border-color:  #333;
    border-width: thin;
}
.leftMidLocationNav{
    width: 50%;
    border:solid;
    border-color:  #333;
    border-width: thin;
    overflow: auto;
}
.rightMidLocationNav{
    width: 50%;
    border:solid;
    border-color:  #333;
    border-width: thin;
    overflow: auto;
}
.bottomLocationNav{
    width: 100%;
    height: 10%;
    border:solid;
    border-color:  #333;
    border-width: thin;
}
.bottomLocationNavText{
    margin: auto;
} 
.regionCityList{
    overflow: scroll;
    padding: 0;
    border:solid;
    border-color:  #333;
    border-width: thin;
}
.singleRegionCityDiv{
    width: 315px;
    height: 40px;
    background: white;
}
.singleRegionCityDiv:hover{
    color: #237b98;
    background: #eef4fb;
    border-color: #237b98;
    border-left: 3px solid #237b98;
}
