.locationContainer{
    font-size: 16px;
    width: 636px;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 52px;
    left: 66px;
    background-color: white;
    color: #999; 
    border: 0.5px solid #ebebeb;
    font-weight: 350;
    z-index: 11;
    border-radius: 4px;
}
.arrowForwardLogo{
    font-size: 16px;
    font-weight: 200;
    margin-top: 9px;
    margin-right: 18px;
}
.topLocationNav{
    height: 13%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid #ebebeb;
}
.locationNavText{
    width: 50%;
    justify-content: flex-start;
    padding-left: 30px;
    margin: auto;
    color: #333;
    font-weight: 450;
    /* text-align: center; */

}
.midLocationNav{
    max-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.leftMidLocationNav{
    width: 50%;
    border-right: 0.5px solid #ebebeb;
    overflow: auto;
}
.rightMidLocationNav{
    width: 50%;
    overflow: auto;
}
.bottomLocationNav{
    width: 100%;
    height: 15%;
    display: flex;
    /* border-left: none; */
    border-top: 0.5px solid #ebebeb;
}
.bottomLocationNavText{
    justify-content: flex-start;
    text-align: left;
    margin-top: 20px; 
    font-weight: 500;
    padding-left: 27px;
    color: #000080
} 
.metroNameRender{
    justify-content: flex-start;
    flex: 1;
    margin: auto;
}
.arrowDownLogo{
    justify-content: flex-end;
    flex: 1;
    margin: auto;
}
.regionCityList{
    overflow: scroll;
    padding: 0;
    /* border-left: 1px solid;*/
    color: #999;
    /* border:solid;
    border-color:  #333;
    border-width: thin; */
}
.singleRegionCityDiv{
    width: 315px;
    height: 40px;
    background: white;
    display: flex;
    border-left: 3px solid transparent;
    align-items: center;

}
.singleRegionCityDiv:hover{
    cursor: pointer;
    color: #237b98;
    background: #eef4fb;
    border-color: #237b98;
    border-left: 3px solid #237b98;
}

.selectedSingleRegionCity{
    width: 315px;
    height: 40px;
    background: white;
    display: flex;
    cursor: pointer;
    color: #237b98;
    background: #eef4fb;
    border-color: #237b98;
    border-left: 3px solid #237b98;
}
.selectedSingleCity{
    width: 315px;
    height: 40px;
    display: flex;
    border-left: 3px solid transparent;
    align-items: center;
    cursor: pointer;
    color: #237b98;
    background: #eef4fb;
    border-color: #237b98;
    border-left: 3px solid #237b98;
}
.metroNameRender{
    justify-content: flex-start;
    text-align: left;
    flex: 1;
    margin-left: 15px;
}
.arrowDownLogo{
    justify-content: flex-end;
    text-align: right;
    flex: 1;
    margin-right: 15px;
}
.cityNameRender{
    justify-content: flex-start;
    text-align: left;
    flex: 1;
    margin-left: 15px;
}
.cityNameQuantity{
    justify-content: flex-end;
    text-align: right;
    flex: 1;
    font-size: 13px;
    margin-top: 7px;
    margin-right: 14px;
    font-weight: 300;
}
