.searchContainer{
    position: absolute;
    width: 100vw;
    height: 288px;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 30px;
    right: 0px;
    z-index: 3;
}
.searchCloseButtonContainer{
    width: 100%;
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
}
.searchCloseButton{
    color: #333;
    background: white;
    text-align: right;
    border: none;
    margin-right: 30px;
    font-size: 30px;
}
.searchHeaderMessage{
    display: block;
    text-align: center;
    height: 66px;
}
.searchBottomComponents{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.largeText{
    font-size: 48px;
    text-align: center;
    font-weight: 650;
    color: black;
}
.pickerContainer{
    flex: 4;
    display: flex;
}
.datePicker{
    width: 160px;
    height: 48px;
    flex: 1;
    border: solid;
    border-color: #f7f7f7;
}
/* .datePickerInput{

} */
.timePicker{
    width: 160px;
    height: 48px;
    flex: 1;
    border: solid;
    border-color: #f7f7f7;
}
.customSelectTime{
    background-color: white;
    text-align: center;
    font-size: 16px;
    width: 160px;
    height: 48px;
}
.customSelectTime select {
    background: transparent;
    text-align: center;
    background-color: white;
    border: none;
    font-size: 14px;
    padding: 5px; 
    width: 160px;
    height: 48px;
    background: no-repeat scroll;
    overflow: hidden;
}
.pickerText{
    font-size: 1rem;
}
/* .selectTime{

} */
.partyCounter{
    width: 160px;
    height: 48px;
    flex: 1;
    border: solid;
    border-color: #f7f7f7;
}
/* .selectPartyCount{

} */
.searchBar{
    flex: 2;
    border-radius: 4px;
}
/* .searchInput{

} */
.searchFindTableButtonContainer{
    flex: 1;
}
.searchFindTableButton{
    width: 144px;
    border-radius: 4px;
    background-color: #da3743;
    border-color: #b8222d;
    text-align: center;
}
/* .searchResults{

}
.searchHeader{

}
.locationResults{

}
.searchCategoryText{

}
.searchResultText{

}
.cuisineResults{

}
.restaurantResults{

} */

