.searchContainer{
    position: absolute;
    width: 100vw;
    height: 288px;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 30px;
    right: 0px;
    z-index: 3;
}
.searchCloseButtonContainer{
    width: 100%;
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
}
.searchCloseButton{
    color: #333;
    background: white;
    text-align: right;
    border: none;
    margin-right: 30px;
    font-size: 30px;
}
.searchHeaderMessage{
    display: block;
    text-align: center;
    height: 66px;
}
.searchBottomComponents{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.largeText{
    font-size: 48px;
    text-align: center;
    font-weight: 650;
    color: black;
}
.pickerContainer{
    flex: 5;
    display: flex;
}
.datePicker{
    width: 160px;
    height: 48px;
    flex: 1;
    display: flex;
    border-color: #f7f7f7; 
    border: 0.5px solid;
}
.datePickerInput{
    flex: 4;
    margin: auto;
    background-color: white;
}
.searchDropLogo{
    flex: 1;
    margin: auto;
    font: 10px;
    padding: 0 0 0 10px;
}
.timePicker{
    width: 160px;
    height: 48px;
    flex: 1;
    display: flex;
    position: relative;
}
.customSelectTime{
    background-color: white;
    text-align: center;
    border: none;
    font-size: 14px;
    width: 160px;
    height: 48px;
    display: flex;
    position: absolute;
    border-color: #999; 
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    top: 0;
    left: 0;
    z-index: 1;
}
.currentSelectTime{
    flex: 2;
    margin: auto;
}
.timePicker select {
    /* background: transparent; */
    opacity: 0;
    /* text-align: center;
    background-color: white;
    border: none; */
    font-size: 14px;
    font: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    /* padding: 5px;  */
    width: 160px;
    height: 48px;
    /* background: no-repeat scroll;
    overflow: hidden; */
    /* -webkit-appearance: menulist-button;
    height: 50px; */
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 5;
}
.pickerText{
    font-size: 1rem;
}
.closeIcon{
    margin-right: 25px;
    font: 24px;
}
.partyCount{
    width: 160px;
    height: 48px;
    flex: 1;
    position: relative;
}
.partyCount select{
    opacity: 0;
    font-size: 14px;
    font: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    width: 160px;
    height: 48px;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 5;
}
.customPartyCount{
    background-color: white;
    text-align: center;
    border: none;
    font-size: 14px;
    width: 160px;
    height: 48px;
    border-color: #999; 
    border: 0.5px solid;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.currentPartyCount{
    flex: 4;
    margin: auto;
}
.searchBar{
    flex: 2;
    border-radius: 4px;
    margin-left: 20px;
    width: 288px;
    height: 48px;
    position: relative;
    border-color: #999; 
    border: 0.5px solid;

}
.customSearchBar{
    width: 288px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
.searchInput{
    width: 248px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 40px;
    font-size: 14px;
    font: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    z-index: 5;
}
.searchFindTableButtonContainer{
    flex: 1;
    margin-left: 20px;
}
.searchFindTableButton{
    width: 144px;
    border-radius: 4px;
    background-color: #da3743;
    border-color: #b8222d;
    text-align: center;
}
/* .searchResults{

}
.searchHeader{

}
.locationResults{

}
.searchCategoryText{

}
.searchResultText{

}
.cuisineResults{

}
.restaurantResults{

} */

