.searchContainer{
    position: absolute;
    width: 100vw;
    height: 288px;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 30px;
    right: 0px;
    z-index: 3;
}
.searchCloseButtonContainer{
    width: 100%;
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
}
.searchCloseButton{
    color: #333;
    background: white;
    text-align: right;
    border: none;
    margin-right: 30px;
    font-size: 30px;
}
.searchHeaderMessage{
    display: block;
    text-align: center;
    height: 66px;
}
.searchBottomComponents{
    display: flex;
    margin: auto;
    width: 1000px;
}
.largeText{
    font-size: 48px;
    text-align: center;
    font-weight: 650;
    color: black;
}
.pickerContainer{
    flex: 1;
    display: flex;
    justify-content: center;
    width: 483px;
    margin-left: 28px;
    border-radius: 4px;
    border-color: #f7f7f7; 
    border: 0.5px solid;
}
.datepickerWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}
.datepickerSearchContainer{
    position: absolute;
    z-index: 6;
    top: 216px;
    left: 33px;
    border-radius: 4px;
}
.datePicker{
    width: 160px;
    height: 48px;
    flex: 1;
    display: flex;
    border-color: #f7f7f7; 
    border-right: 0.5px solid;
}
.datePickerInput{
    flex: 3;
    margin: auto;
    background-color: white;
}
.searchDropLogo{
    flex: 1;
    margin: auto;
    font: 10px;
    padding: 0 0 0 10px;
}
.timePicker{
    width: 160px;
    height: 48px;
    flex: 1;
    display: flex;
    position: relative;
}
.customSelectTime{
    background-color: white;
    text-align: center;
    border: none;
    font-size: 14px;
    width: 160px;
    height: 46px;
    display: flex;
    position: absolute;
    border-color: #999; 
    border-right: 0.5px solid;
    top: 0;
    left: 0;
    margin-top: 2px;
    z-index: 1;
}
.currentSelectTime{
    flex: 2;
    margin: auto;
}
.timePicker select {
    opacity: 0;
    font-size: 14px;
    font: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    width: 160px;
    height: 46px;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 5;
}
.pickerText{
    font-size: 1rem;
}
.closeIcon{
    margin-right: 25px;
    font: 24px;
}
.partyCount{
    width: 155px;
    height: 43px;
    flex: 1;
    margin: auto;
    position: relative;
}
.partyCount select{
    opacity: 0;
    font-size: 14px;
    font: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    width: 155px;
    height: 43px;
    position: absolute;
    border: none;
    top: 0; 
    left: 3px;
    z-index: 5;
    border-color: #999; 
    border-left: 0.5px solid;
}
.customPartyCount{
    background-color: white;
    text-align: center;
    border: none;
    font-size: 14px;
    width: 155px;
    height: 42px;
    display: flex;
    position: absolute;
    top: 0;
    left: 2px;
    z-index: 1;
}
.currentPartyCount{
    flex: 3;
    margin: auto;
}
.searchBar{
    flex: 1;
    margin: auto; 
    justify-content: center;
    border-radius: 4px;
    margin-left: 20px;
    min-width: 288px;
    height: 48px;
    position: relative;

}
.customSearchBar{
    width: 100%;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-color: #999; 
    border: 0.5px solid;
    border-radius: 4px;
}
.searchInput{
    width: 248px;
    height: 40px;
    position: absolute;
    border: none;
    top: 5px;
    left: 38px;
    font-size: 16px;
    font-weight: 50;
    font: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    z-index: 5;
}
.searchInput:focus{
    outline: 0;
}

.searchFindTableButtonContainer{
    flex: 1;
    justify-content: center;
    margin-left: 20px;
}
.searchFindTableButton{
    width: 144px;
    height: 48px;
    border-radius: 4px;
    background-color: #da3743;
    border-color: #b8222d;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: white;
}
.searchResults{
    position: absolute;
    width: 288px;
    top: 219px;
    right: 322px;
    z-index: 6;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid;
    border-width: thin;
    border-color: #d8d9db;
}
.searchHeader{
    padding-left: 50px;
    width: 75%;
    border: none;  
    background: none; 
}
.locationResults{
    flex: 1;
}
.searchedSection{
    border-top: solid;
    border-width: thin;
    border-color: #d8d9db;
}
.searchCategoryTextContainer{
    display: flex;
    margin-top: 20px;

}
.headerContainerSearch{
    flex: 1;
    background-color: white;
    height: 37px;
    font-size: 14px;
    font-weight: 500;
    margin: auto;
    width: 100%;
}
.searchCategoryText{
    font-size: 13px;
    font-weight: 550;
}
.searchResultText{
    font-size: 16px;
    font-weight: 500;
    padding-left: 30px;
}
.cuisineResults{
    flex: 1;
}
.restaurantResults{
    flex: 1;
}
.hoverOnSearch{
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px; 
}
.hoverOnSearch:hover {
    background-color: red;
}
.searchResultLogo{
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
}
.ulContainerSearch{
    padding: 0;
}