.containerSticky{
    display: flex;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
}
.containerStickyComponentTop{
    top: -54px;
    left: 0;
    /* z-index: 3; */
    width: 700x;
    max-width: 640px;

}
.containerContent{
    height: 100%;
    max-width: 640px;
    position: sticky;
    top: 0px;
    /* padding-bottom: 50px; */
    /* left: 0; */
    z-index: 3;
}

.containerStickyComponents{
    
    height: 100%;
    max-width: 992px;
    position: absolute;
    top: -51px;
    left: 0;
    /* z-index: 3; */
    display: flex;
    align-items: flex-start;
    margin: auto; 
}

.appMovingNavBarContainer{
    flex-grow: 1; 
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    max-width: 640px;
    width: 640px;
    z-index: 5;
    box-sizing: border-box;
    margin: 0 2rem 0 0; 
    border-bottom: solid #d8d9db;
    border-width: thin;
    background-color: white;
}
.appMovingNavBar{
    /* position: sticky;
    top: 0; */
    display: flex;
    flex-grow: 2;
    float: left;
}
.appMovingNavBarList{
    padding: 0;
    margin-left: 20px;
}
.appMovingNavBarList li{
    list-style: none;
    display: inline;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    margin-right: 15px;
    padding-bottom: 14px;
}
.appMovingNavBarListHeader{
    /* padding-right: 14px .5rem; */
    flex-direction: row;
}
.appMovingNavBarListHeader:hover{
    /* padding: 14px .5rem; */
    cursor: pointer;
    flex-direction: row;
    color:#da3743;
    border-bottom:3px solid #da3743;
}

.active {
    /* color:#e05e5a; */
    color: #d53b41;
    padding: 14px 0 14px 0;
    border-bottom:3px solid #da3743;
}

.reservationCal{
    position: absolute;
    left: 14px;
    top: 184px;
    z-index: 3;
}
.appReservationContainer{
    position: sticky;
    top: 0;
    width: 320px;
    min-height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* flex-flow: wrap; */
}
.appReservation{
    height: 306px;
    width: 320px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.appReservationTop{
    height: 48px;
    flex-basis: 90%;
    margin: auto;
    display: flex;
    border-bottom: solid;
    border-width: thin;
    border-color: #d8d9db;
    background-color: white;
}

.appReservationHeaderTop{ 
    font-size: 18px;
    margin: auto;
    font-weight: 600;
}
.appReservationPartySize{
    height: 65px;
    flex-basis: 90%;
    margin: auto;
    display: flex;
    border-bottom: solid;
    border-width: thin;
    border-color: #d8d9db;
    background-color: white;
    position: relative;
}
.appReservationHeader{
    margin: auto;
    font-size: 13px;
    font-weight: 600;
    padding-top: 8px;
}
.customPartyCounter{
    background-color: white;
    border: none;
    font-size: 16px;
    width: 288px;
    height: 48px;
    position: absolute;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.partySizeHeader{
    flex: 1;
    flex-basis: 100%;
    margin: 0;
    justify-content: flex-start;
}
.partyCounterInput{
    display: flex;
    flex: 1;
    flex-basis: 100%;
    flex-direction: row;
} 
.currentPartyCounter{
    flex: 4;
    justify-content: flex-start;
    font-size: 14px;
    padding-top: 7px;
}
.partyCounter select {
    opacity: 0;
    font-size: 14px;
    font: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    width: 280px;
    height: 48px;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 5;
    margin-top: 5px;
}
.partyCounter{
    margin: auto;
}

.appReservationTimeAndDate{
    height: 65px;
    display: flex;
    flex-basis: 90%;
    margin: auto;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
}
.reservationDatePickerInput{
    width: 100%;
    display: flex;
}

.arrowDownLogo{
    justify-content: flex-end;
    font-size: 14px;
    margin-right: 0px;
}

.timePicker{
    flex: 1;
    min-width: 140px;
    position: relative;
    display: flex;
    border-bottom: solid;
    border-width: thin;
    border-color: #d8d9db;
    margin-left: 10px;
}
.customSelectTime{
    background-color: white;
    border: none;
    font-size: 16px;
    width: 140px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
} 
.timePickerHeader{
    flex: 1;
}
.timePickerInput{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.currentSelectTime{
    flex: 4;
    margin: auto;
    font-size: 14px;
    padding-top: 7px;
}
.timePicker select {
    opacity: 0;
    font-size: 14px;
    font: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    width: 135px;
    height: 48px;
    position: absolute;
    top: 3px; 
    left: 0;
    z-index: 5;
}
.pickerText{
    font-size: 1rem;
}

.appReservationDate{
    width: 140px;
    flex: 1;
    border-bottom: solid;
    border-width: thin;
    border-color: #d8d9db;
}

.appDatePickerButton{
    margin: auto;
    font-size: 14px;
    padding-top: 7px;
    flex: 4;
}
.appReservationButtonContainer{
    flex-grow: 2px;
    height: 60px;
    max-height: 130px;
    flex-basis: 100%;
    display: flex;
    background-color: white;
}
.appReservationButton{
    margin: auto;
    width: 288px;
    background-color: #d13c3d;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-align: center;
}

.appReservationBookingContainer{
    height: 48px;
    max-height: 75px;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    background-color: white;
    padding-bottom: 10px;
}
.appReservationBookingLogo{
    padding-left: 17px;
}
.appReservationBookingText{
    flex: 1;
    justify-content: flex-start;
    margin: auto;
    font-weight: 550;
    font-size: 13px;
    padding-left: 10px;
}
.appReservationSaveButtonContainer{
    border: solid;
    border-color: black;
    border-width: thin;
    display: flex;
    margin:auto;
    width: 288px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}
 .saveButtonWrapper{
    max-width: 145px;
    height: 100%;
    justify-content: center;
}
.appReservationBookingLogo{
    margin: auto;
    display: flex;
}
.saveRestaurantButton{
    display: flex;
    width: 300px;
    margin-left: 65px;
    margin-top: 12px;
}

.appReservationSaveLogo{
    margin: auto;
}
.saveRestaurantButtonText{
    flex: 1;
    font-size: 14px;
    font-weight: 500;
    width: 170px;
    padding-top: 2px;
}

