.containerSticky{
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
    border: solid red;
}
.containerContent{
    height: 80%;
    max-width: 640px;
    height: 100%;
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 5;
    /* margin: auto; */
    border: solid green;

}
.containerStickyComponents{
    /* position: -webkit-sticky;  */
    height: 100%;
    max-width: 992px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    margin: auto; 
}
.content{
    position: sticky;
    top: 50px;
    height: 90%;
}
.testDummyText{
    font-size: 150px;
    color: red;
}
.testDummyPara{
    font-size: 45px;
    color: green;
}
.appMovingNavBarContainer{
    flex-grow: 1; 
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    /* check this flex grow*/
    max-width: 640px;
    width: 640px;
    box-sizing: border-box;
    margin: 0 2rem 0 0; 
    border-bottom: solid #333;
    border-width: thin;
    background-color: white;
    margin-left: 10px;
}
.appMovingNavBar{
    position: sticky;
    top: 0;
    display: flex;
    flex-grow: 2;
    float: left;
}
.appMovingNavBarList{
    padding: 0;
}
.appMovingNavBarList li{
    list-style: none;
    display: inline;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
}
.appMovingNavBarListHeader{
    padding-right: 14px;
    flex-direction: row;
}
.appMovingNavBarListHeader:hover{
    padding: 14px .5rem;
    flex-direction: row;
    color:#F38A8A;
    border-bottom:3px solid red;
}

.active {
    color:#F38A8A;
    padding: 14px 0 14px 0;
    border-bottom:3px solid red;
}
/* .navBarText{
    font-size: 14px;
    font-weight: 500;
}   */

.reservationCal{
    position: absolute;
    left: 0px;
    top: 200px;
    z-index: 3;
}
.appReservationContainer{
    position: sticky;
    top: -60px;
    width: 320px;
    min-height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 5;
    /* flex-flow: wrap; */
}
.appReservation{
    height: 306px;
    width: 320px;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.appReservationTop{
    height: 48px;
    flex-basis: 90%;
    margin: auto;
    display: flex;
    border-bottom: solid;
    border-width: thin;
    border-color: black;
    background-color: white;
}

.appReservationHeaderTop{ 
    font-size: 1.3rem;
    margin: auto;
    font-weight: 700;
}
.appReservationPartySize{
    height: 65px;
    flex-basis: 90%;
    margin: auto;
    display: flex;
    border-bottom: solid;
    border-width: thin;
    border-color: black;
    background-color: white;
    position: relative;
}
.appReservationHeader{
    margin: auto;
    font-size: 16px;
    font-weight: 500;
    padding-left: 8px;
}
.customPartyCounter{
    background-color: white;
    border: none;
    font-size: 16px;
    width: 280px;
    height: 48px;
    position: absolute;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.partySizeHeader{
    flex: 1;
    flex-basis: 100%;
    margin: 0;
    justify-content: flex-start;
}
.partyCounterInput{
    display: flex;
    flex: 1;
    flex-basis: 100%;
    flex-direction: row;
} 
.currentPartyCounter{
    flex: 4;
    justify-content: flex-start;
}
.partyCounter select {
    opacity: 0;
    font-size: 14px;
    font: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    width: 280px;
    height: 48px;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 5;
    margin-top: 5px;
}
.partyCounter{
    margin: auto;
}
/* .selectPartyCount{

} */
/* .optionValue{
    
} */
.appReservationTimeAndDate{
    /* display: inline-block; */
    height: 65px;
    display: flex;
    flex-basis: 90%;
    margin: auto;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
}
.reservationDatePickerInput{
    width: 100%;
    display: flex;
}

.arrowDownLogo{
    flex: 1;
    justify-content: flex-end;
    font-size: 14px;
}

.timePicker{
    /* width: 160px; */
    /* height: 48px; */
    flex: 1;
    flex-basis: 40%;
    justify-content: flex-end;
    border-bottom: solid;
    border-width: thin;
    position: relative;
    display: flex;
}
.customSelectTime{
    background-color: white;
    text-align: center;
    border: none;
    font-size: 16px;
    width: 160px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
}
.timePickerHeader{
    flex: 1;
}
.timePickerInput{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.currentSelectTime{
    flex: 4;
    justify-content: flex-start;
    margin: auto;
}
.timePicker select {
    opacity: 0;
    font-size: 14px;
    font: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    width: 160px;
    height: 48px;
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 5;
}
.pickerText{
    font-size: 1rem;
}

.appReservationDate{
    flex-basis: 40%;
    flex: 1;
    justify-content: flex-start;
    border-bottom: solid;
    border-width: thin;
}
/* .appReserationTime{
    flex-basis: 45%;
    border: solid;
    justify-content: flex-start;
    border-bottom: solid;
    border-width: thin;
    background-color: white;
}    */
/* .timePicker{

} */
/* .selectTime{

} */
.appDatePickerButton{
    margin: auto;
}
.appReservationButtonContainer{
    flex-grow: 2px;
    height: 60px;
    max-height: 130px;
    flex-basis: 100%;
    display: flex;
    background-color: white;
}
.appReservationButton{
    margin: auto;
    width: 288px;
    background-color: red;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-align: center;
}

.appReservationBookingContainer{
    flex-grow: 1px;
    height: 48px;
    max-height: 75px;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    background-color: white;
}
.appReservationBookingLogo{
    flex: 1;
    justify-content: flex-start;
    margin:auto;
}
.appReservationBookingText{
    flex: 4;
    justify-content: flex-start;
    margin:auto;
}
.appReservationSaveButtonContainer{
    border: solid;
    border-color: black;
    border-width: thin;
    display: flex;
    margin:auto;
    width: 288px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}
 /* .saveButtonWrapper{
    width: 100%;
    height: 100%;
    text: 12px;
} */
.appReservationBookingLogo{
    margin: auto;
}
.appReservationSaveButton{
    width: 288px;
    height: 50px;
    font-size: 12px;
    background-color: white;
    text-align: center;
} 


