
.topBar{
    height: 119px;
}
.topContainerS1{
    /* padding-left: 2.25rem; */
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #f7f7f7;
    font-size: 13px;
    position: relative;
}
.topContainerS1Right{
    /* color: #999; */
    font-size: 11.5px;
    padding: 0 1rem;
    font-weight: 500;
    width: 355px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* width: 35%; */
    padding: 0 1rem;
    color: #a8a8a8;
}
.topContainerS1RightS1{
    flex: auto;
    margin: auto;
    max-width: 116px;
}
.topContainerS1RightS2{
    flex: auto;
    margin: auto;
    display: flex; 
    max-width: 70px;
}
.mobileContainer{
    width: 146px;
    height: 167px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
/* outside mobilecomponets on topheader */
.topBarLogos{
    flex: 1;
    margin: auto;
    flex: auto;
    font-size: 19px;
    color:#a8a8a8;
    font-weight: 100;
}
/* inside mobile component not in topbar */
.mobileComponents{ 
    flex: 1;
    background-color: white;
}
.mobileComponents:hover{
    flex: 1;
    background-color: #f7f7f7;
}
#en{
    margin-left: 2px;
    margin-right: 1px;
}
.enContainer{
    height: 270px;
    width: 146px;
    display: flex;
    flex-direction: column;
}
.enComponents{
    flex: 1;
    background-color: white; 
}

.enComponents:hover{
    background-color: #f1f2f4;
    border-left: 3px solid transparent; 
    border-color: #237b98;
    color: #237b98;
}
.enComponentsSelected{
    border-left: 3px solid transparent; 
    border-color: #237b98;
    color: #237b98;
}
.topContainerS1RightS3{
    flex: auto; 
    margin: auto;
    max-width: 59px;
    margin-right: 8px;
}
.topContainerS1RightS4{
    flex: auto; 
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 74px;
}
.topContainerS1RightS4Logo{
    flex: 1;
}
.smallLinks{
    color: #4990ab;
    margin-top: 1.5px;
    align-content: center;
    font-weight: 500;
}
.smallLinksTop{
    color: #999;
    margin-top: 1.5px;
    align-content: center;
    font-weight: 500;
}

.smallText{
    color: black;
    align-content: center;
    font-weight: 500;
}
.smallLinks:hover{
    color: #195d73;
}
/* .miniDropDown{
    text-align: center;
} */
.topContainerS2{
    height: 57px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: solid;
    border-color: #f7f7f7;
    border-width: thin;
    background-color: white;
    position: relative;
}
.topContainerS2S1{
    height: 100%;
    width: 208px;
    flex: 1.3;
    display: flex;
}
.openTableLogo{
    width:55px;
    height:40px;
    float: right;
    margin-top: 8px;
    margin-left: 32px;
    margin-right: 5px;
}
.openTableLogoText{
    font-weight: 700;
    font-size: 23px;
    color: black;
    margin-top: 11px;
}
.topContainerS2S2{
    border: solid;
    border-color: #f7f7f7;
    border-width: 0px thin 0px;
    display: flex;
    flex: 1;
    flex-basis: 28%;
}
.topContainerS2S2:focus{
    outline: 0;
}
.locationNav{
    /* margin: auto; */
    display: flex;
    flex-direction: row; 
    font-weight: 300;
    font-size: 15px;
}
.locationNavHeader{
    margin: auto;
    flex: auto;
    color: rgb(66, 38, 38);
    font-weight: 500;
} 
.locationNavHeaderIcon{
    color:  #D3D3D3;
    margin: auto;
    flex: auto;
}
.topContainerS2S3{
    flex: 3.5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}
.S2S3buttonContainer{
    width: 40%;
    display: flex;
}

.signUpButton{
    margin: auto;
    line-height: 1.75rem;
    width: 76px;
    font-weight: 100;
    font-size: 13px;
    background-color: #237b98;
    border-color: #1c627a;
    color: #fff;
    border-radius: 4px;
}
.signInButton{
    margin: auto;
    padding: 0 1rem;
    font-size: 15px;
    color: #333;
    background-color: white;
}
.searchHeaderIcon{
    margin: auto;
    color: black;
}
/* .search{

}  */

.topContainerS3{
    height: 25%;
    font-size: .75rem;
    border: solid;
    border-color: #f7f7f7;
    border-width: thin;
    background-color: white;
}
.topContainerS3SContainer{
    float: left;
    display: flex;
    margin-left: 20px;
}
.topContainerS3S1{
    flex: 1 1 auto;
    margin: 0.45rem 1rem 0 0.35rem;
}
.topContainerS3S2{
    flex: 1 1 auto;
    margin: 0.45rem 1rem 0 0.35rem;
}
.topContainerS3S3{
    flex: 1 1 auto;
    margin: 0.45rem 1rem 0 0.35rem;
}
.topContainerS3S4{
    flex: 1 1 auto;
    margin: 0.45rem 1rem 0 0.35rem;
}
.topContainerS3S5{
    flex: 1 1 auto;
    margin: 0.45rem 1rem 0 0.35rem;
}

.topContainerS4{
    height: 300px;
}
.appHeaderPhoto{
    height: 100%;
    width: 100%;
    /* border: solid;
    border-color: black;
    border-width: thin; */
} 